In [1]:
CREATE SCHEMA data_models

In [2]:
CREATE TABLE data_models.employee_details
(
    id INT NOT NULL PRIMARY KEY,
    firstName NVARCHAR(255) NOT NULL,
    lastName NVARCHAR(255) NOT NULL,
    isActive BIT NOT NULL,
    age INT NOT NULL 
)

In [5]:
INSERT INTO [data_models].[employee_details] VALUES
(1, 'Anneka', 'Anderssen', 1, 25),
(2, 'Patty', 'Mukuji', 1, 32)

In [11]:
CREATE TABLE data_models.employee_address
(
    id INT NOT NULL PRIMARY KEY,
    empId INT NOT NULL
        FOREIGN KEY REFERENCES data_models.employee_details(id),
    streetAddress NVARCHAR(100) NOT NULL,
    city NVARCHAR(100) NOT NULL,
    state NVARCHAR(100) NULL,
    postalCode NVARCHAR(100) NOT NULL
)

In [12]:
INSERT INTO data_models.employee_address VALUES
(1, 1, '559 La Jolla Avenue', 'Los Angeles', null , '90212'),
(2, 2, '620 Mission Street', 'New Orleans', null, '94188')

In [1]:
CREATE TABLE data_models.employee_phone
(
    id INT NOT NULL PRIMARY KEY,
    empId INT NOT NULL 
        FOREIGN KEY REFERENCES data_models.employee_details(id),
    type NVARCHAR(100) NOT NULL,
    number NVARCHAR(100) NOT NULL
)

In [2]:
INSERT INTO data_models.employee_phone VALUES
(1, 1, 'home', '212 555-1234'),
(2, 1, 'office', '646 555-4567'),
(3, 1, 'mobile', '123 456-7890'),
(4, 2, 'home', '020 7946 0891'),
(5, 2, 'office', '020 7946 0986'),
(6, 2, 'mobile', '123 789-4560')

In [5]:
SELECT e.firstName, e.age,
       a.streetAddress, a.city,
       p.type, p.number
FROM data_models.employee_details e 
     INNER JOIN data_models.employee_address a
           ON (e.id = a.empId)
     INNER JOIN data_models.employee_phone p
           ON (e.id = p.empId)

firstName,age,streetAddress,city,type,number
Anneka,25,559 La Jolla Avenue,Los Angeles,home,212 555-1234
Anneka,25,559 La Jolla Avenue,Los Angeles,office,646 555-4567
Anneka,25,559 La Jolla Avenue,Los Angeles,mobile,123 456-7890
Patty,32,620 Mission Street,New Orleans,home,020 7946 0891
Patty,32,620 Mission Street,New Orleans,office,020 7946 0986
Patty,32,620 Mission Street,New Orleans,mobile,123 789-4560

In [7]:
CREATE TABLE data_models.employee_json 
(
    id INT NOT NULL PRIMARY KEY,
    json_data NVARCHAR(MAX) NOT NULL CHECK(isjson(json_data)=1)
)

In [8]:
INSERT INTO data_models.employee_json VALUES
(1, N'{
    "firstName" : "Anneka",
    "lastName" : "Anderssen",
    "isActive" : true, 
    "age" : 25,
    "address" : {
        "streetAddress" : "559 La Jolla Avenue", 
        "city": "Los Angeles", 
        "postalCode" : "90212"
        },
    "phoneNumbers":[
        {
            "type":"home",
            "number":"212 555-1234"
            },
            {
                "type" : "office",
                "number":"646 555-4567"
                },
                {
                "type" : "mobile",
                "number":"123 456-7890"
                }

    ],
    "children" : [],
    "spouse" :null
    }'),

(2, N'{
  "firstName": "Patty",
  "lastName": "Mukuji",
  "isActive": true,
  "age": 32,
  "address": {
    "streetAddress": "620 Mission Street",
    "city": "New Orleans",
    "postalCode": "94188"
  },
  "phoneNumbers": [
    {
      "type": "home",
      "number": "020 7946 0891"
    },
    {
      "type": "office",
      "number": "020 7946 0986"
    },
    {
      "type": "mobile",
      "number": "123 789-4560"
    }
  ],
  "children": ["Rose", "Rosa"],
  "spouse": "Norma Mukuji"
}')

In [9]:
SELECT * FROM data_models.employee_json

id,json_data
1,"{ ""firstName"" : ""Anneka"", ""lastName"" : ""Anderssen"", ""isActive"" : true, ""age"" : 25, ""address"" : { ""streetAddress"" : ""559 La Jolla Avenue"", ""city"": ""Los Angeles"", ""postalCode"" : ""90212"" }, ""phoneNumbers"":[ { ""type"":""home"", ""number"":""212 555-1234"" }, { ""type"" : ""office"", ""number"":""646 555-4567"" }, { ""type"" : ""mobile"", ""number"":""123 456-7890"" } ], ""children"" : [], ""spouse"" :null }"
2,"{ ""firstName"": ""Patty"", ""lastName"": ""Mukuji"", ""isActive"": true, ""age"": 32, ""address"": { ""streetAddress"": ""620 Mission Street"", ""city"": ""New Orleans"", ""postalCode"": ""94188"" }, ""phoneNumbers"": [ { ""type"": ""home"", ""number"": ""020 7946 0891"" }, { ""type"": ""office"", ""number"": ""020 7946 0986"" }, { ""type"": ""mobile"", ""number"": ""123 789-4560"" } ], ""children"": [""Rose"", ""Rosa""], ""spouse"": ""Norma Mukuji"" }"

In [10]:
DECLARE @JSON VARCHAR(MAX)
SELECT TOP(1) @JSON = json_data
FROM data_models.employee_json
WHERE id = 1

SELECT JSON_VALUE(@JSON, '$.firstName') AS name

name
Anneka

In [11]:
DECLARE @JSON VARCHAR(MAX)

SELECT TOP(1) @JSON=json_data 
FROM data_models.employee_json 
WHERE id = 1

SELECT JSON_QUERY(@JSON, '$.address') AS address

address
"{ ""streetAddress"" : ""559 La Jolla Avenue"", ""city"": ""Los Angeles"", ""postalCode"" : ""90212"" }"

In [12]:
DECLARE @JSON VARCHAR(MAX)

SELECT TOP(1) @JSON=json_data 
FROM data_models.employee_json 
WHERE id = 1

SELECT JSON_VALUE(@JSON, '$.address.city') AS city

city
Los Angeles

In [14]:
SELECT JSON_VALUE(json_data, '$.firstName') AS firstName,
       JSON_VALUE(json_data, '$.address.city') AS city,
       JSON_QUERY(json_data, '$.phoneNumbers[0]') AS main_phone
FROM data_models.employee_json
WHERE id = 1

firstName,city,main_phone
Anneka,Los Angeles,"{ ""type"":""home"", ""number"":""212 555-1234"" }"

In [15]:
SELECT JSON_VALUE(json_data, '$.firstName') AS firstName,
       JSON_VALUE(json_data, '$.address.city') AS city,
       JSON_VALUE(json_data, '$.phoneNumbers[0].number') AS main_phone
FROM data_models.employee_json
WHERE id = 1

firstName,city,main_phone
Anneka,Los Angeles,212 555-1234

In [16]:
SELECT JSON_VALUE(json_data, '$.firstName') AS firstName,
       JSON_VALUE(json_data, '$.address.city') AS city,
       JSON_VALUE(json_data, '$.phoneNumbers[0].number') AS main_phone
FROM data_models.employee_json
WHERE JSON_VALUE(json_data, '$.address.city') LIKE 'New%'

firstName,city,main_phone
Patty,New Orleans,020 7946 0891

In [17]:
SELECT j.id AS document_id, t.* 
FROM data_models.employee_json AS j 
    CROSS APPLY openjson(j.json_data) AS t

document_id,key,value,type
1,firstName,Anneka,1
1,lastName,Anderssen,1
1,isActive,true,3
1,age,25,2
1,address,"{ ""streetAddress"" : ""559 La Jolla Avenue"", ""city"": ""Los Angeles"", ""postalCode"" : ""90212"" }",5
1,phoneNumbers,"[ { ""type"":""home"", ""number"":""212 555-1234"" }, { ""type"" : ""office"", ""number"":""646 555-4567"" }, { ""type"" : ""mobile"", ""number"":""123 456-7890"" } ]",4
1,children,[],4
1,spouse,NULL,0
2,firstName,Patty,1
2,lastName,Mukuji,1
2,isActive,true,3
2,age,32,2
2,address,"{ ""streetAddress"": ""620 Mission Street"", ""city"": ""New Orleans"", ""postalCode"": ""94188"" }",5
2,phoneNumbers,"[ { ""type"": ""home"", ""number"": ""020 7946 0891"" }, { ""type"": ""office"", ""number"": ""020 7946 0986"" }, { ""type"": ""mobile"", ""number"": ""123 789-4560"" } ]",4
2,children,"[""Rose"", ""Rosa""]",4
2,spouse,Norma Mukuji,1

In [19]:
SELECT c.value AS child_name
FROM data_models.employee_json AS j 
    CROSS APPLY openjson(j.json_data, '$.children') AS c

child_name
Rose
Rosa

In [20]:
DECLARE @INFO VARCHAR(MAX)
SELECT TOP(1) @INFO=json_data FROM data_models.employee_json 
                              WHERE id = 1

PRINT @INFO

In [21]:
DECLARE @INFO VARCHAR(MAX)
SELECT TOP(1) @INFO=json_data FROM data_models.employee_json 
                              WHERE id = 1

SET @INFO = JSON_MODIFY(@INFO, '$.spouse', 'Alisha Kane')

PRINT @INFO