In [1]:
CREATE SCHEMA BookStore;

In [2]:
CREATE TABLE [BookStore].[Books]
(
  id INT,
  book_title VARCHAR(50),
  genre VARCHAR(50),
  price FLOAT,
  year INT
);

In [3]:
INSERT INTO [BookStore].[Books]
VALUES
(1, 'The Candy House', 'Science Fiction', 626.05, 2022),
(2, 'Fiona and Jane', 'Literary Fiction', 451.51 , 2022),
(3, 'To Paradise', 'Historical Fiction', 379.28, 2022),
(4, 'Book Lovers', 'Romance Novel', 223.25, 2022),
(5, 'The Living Mountain', 'Fiction', 116.65, 2022 ),
(6, 'Unfinished', 'Memoir,', 206.15, 2021),
(7, 'Matrix', 'Historical Fiction', 309.30, 2021),
(8, 'Beautiful Things', 'Biography', 407.55, 2021),
(9, 'Malibu Rising', 'Historical Fiction', 309.30, 2021);

In [4]:
SELECT * FROM [BookStore].[Books];

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021

In [5]:
INSERT INTO [BookStore].[Books] 
VALUES (10, 'Gingerbread', 'Fairy tale', 450, 2019);

UPDATE [BookStore].[Books] 
SET price = '5 Hundred' 
WHERE id = 10;

: Msg 8114, Level 16, State 5, Line 4
Error converting data type varchar to float.

In [6]:
SELECT * FROM [BookStore].[Books];

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019

In [7]:
BEGIN TRANSACTION
 
  INSERT INTO [BookStore].[Books] 
  VALUES (11, 'The Water Dancer', 'Magical Realism', 350.46, 2019)
 
  UPDATE [BookStore].[Books]
  SET price = '5 Hundred' WHERE id = 11
 
COMMIT TRANSACTION

: Msg 8114, Level 16, State 5, Line 6
Error converting data type varchar to float.

In [8]:
SELECT * FROM [BookStore].[Books];

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019

In [9]:
DECLARE @BookCount int
 
BEGIN TRANSACTION 
 
  INSERT INTO [BookStore].[Books]
  VALUES (10, 'The Water Dancer', 'Magical Realism', 350.46, 2019)
 
  SELECT @BookCount = COUNT(*) FROM [BookStore].[Books] WHERE id = 10
 
  IF @BookCount > 0
    BEGIN 
      ROLLBACK TRANSACTION 
      PRINT 'A book with the same id already exists'
    END
  ELSE
    BEGIN
      COMMIT TRANSACTION
      PRINT 'New book added successfully!'
    END

In [10]:
DECLARE @BookCount int
 
BEGIN TRANSACTION 
 
  INSERT INTO [BookStore].[Books]
  VALUES (11, 'The Water Dancer', 'Magical Realism', 350.46, 2019)
 
  SELECT @BookCount = COUNT(*) FROM [BookStore].[Books] WHERE id = 11
 
  IF @BookCount > 1
    BEGIN 
      ROLLBACK TRANSACTION 
      PRINT 'A book with the same id already exists'
    END
  ELSE
    BEGIN
      COMMIT TRANSACTION
      PRINT 'New book added successfully!'
    END

In [11]:
 SELECT * FROM [BookStore].[Books];

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019

In [12]:
DECLARE @BookCount int
 
BEGIN TRANSACTION AddBook
 
  INSERT INTO [BookStore].[Books]
  VALUES (10, 'The Andromeda Strain', 'Science Fiction', 499, 1969)
 
  SELECT @BookCount = COUNT(*) FROM [BookStore].[Books] WHERE id = 10
 
  IF @BookCount > 0
    BEGIN 
      ROLLBACK TRANSACTION AddBook
      PRINT 'A book with the same id already exists'
    END
  ELSE
    BEGIN
      COMMIT TRANSACTION AddBook
      PRINT 'New book added successfully!'
    END

In [13]:
BEGIN TRANSACTION 
 
   INSERT INTO [BookStore].[Books]
   VALUES (12, 'The Andromeda Strain', 'Science Fiction', 499, 1969)
   -- This will create a savepoint after the first INSERT
   SAVE TRANSACTION FirstInsert

   INSERT INTO [BookStore].[Books]
   VALUES  ( 13, 'The Dutch House', 'Historical Fiction', 342.30, 2019)

   SAVE TRANSACTION SecondInsert
 
   -- This will rollback to the savepoint right after the first INSERT
   ROLLBACK TRANSACTION FirstInsert

-- This will commit the transaction leaving just the first INSERT 
COMMIT

In [14]:
SELECT * FROM [BookStore].[Books]

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969

In [15]:
DECLARE @vSecondInsert NCHAR(50) = 'SecondInsert'
 
BEGIN TRANSACTION 
 
   INSERT INTO [BookStore].[Books]
   VALUES  ( 13, 'The Dutch House', 'Historical Fiction', 342.30, 2019)
   SAVE TRANSACTION FirstInsert
 
   INSERT INTO [BookStore].[Books]
   VALUES  ( 14, 'The Nickel Boys', 'Historical Fiction', 299.48, 2019)
   SAVE TRANSACTION @vSecondInsert

   INSERT INTO [BookStore].[Books]
   VALUES  ( 15, 'Olive Again', 'Psychological Fiction', 309.13, 2019)
   SAVE TRANSACTION ThirdInsert
 
   ROLLBACK TRANSACTION @vSecondInsert 
   -- can also use ROLLBACK TRANSACTION SecondInsert
 
COMMIT

In [16]:
SELECT * FROM [BookStore].[Books]

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969
13,The Dutch House,Historical Fiction,342.3,2019
14,The Nickel Boys,Historical Fiction,299.48,2019

In [19]:
SELECT @@TRANCOUNT AS '1. - @@TRANCOUNT before starting the first transaction'
 
BEGIN TRANSACTION -- Tran 1
  SELECT @@TRANCOUNT AS '2. - @@TRANCOUNT after starting the first transaction'
  
  INSERT INTO [BookStore].[Books]
  VALUES  ( 15, 'Olive Again', 'Psychological Fiction', 309.13, 2019)
  SAVE TRANSACTION FirstInsert
   
  BEGIN TRANSACTION -- Tran 2
    SELECT @@TRANCOUNT AS '3. - @@TRANCOUNT after starting the second transaction'

    INSERT INTO [BookStore].[Books]
    VALUES  ( 16, 'American Spy', 'Thriller', null, 2019)
      
    ROLLBACK TRANSACTION FirstInsert
    SELECT @@TRANCOUNT AS '4. - @@TRANCOUNT after rolling back to the save point'
  
    BEGIN TRANSACTION -- Tran 3 
      SELECT @@TRANCOUNT AS '5. - @@TRANCOUNT after starting the third transaction'

      INSERT INTO [BookStore].[Books] 
      VALUES( 17, 'The Need', 'Suspense', 353.56, 2019)
 
      COMMIT -- Tran 3
      SELECT @@TRANCOUNT AS '6. - @@TRANCOUNT after committing the third transaction'
  
      SELECT * FROM [BookStore].[Books]
 
    COMMIT -- Tran 2
    SELECT @@TRANCOUNT AS '7. - @@TRANCOUNT after committing the second transaction'

  ROLLBACK -- Tran 1
  SELECT @@TRANCOUNT AS '8. - @@TRANCOUNT after rolling back the first transaction'

1. - @@TRANCOUNT before starting the first transaction
0

2. - @@TRANCOUNT after starting the first transaction
1

3. - @@TRANCOUNT after starting the second transaction
2

4. - @@TRANCOUNT after rolling back to the save point
2

5. - @@TRANCOUNT after starting the third transaction
3

6. - @@TRANCOUNT after committing the third transaction
2

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969
13,The Dutch House,Historical Fiction,342.3,2019
14,The Nickel Boys,Historical Fiction,299.48,2019
15,Olive Again,Psychological Fiction,309.13,2019
17,The Need,Suspense,353.56,2019

7. - @@TRANCOUNT after committing the second transaction
1

8. - @@TRANCOUNT after rolling back the first transaction
0

In [18]:
SELECT * FROM [BookStore].[Books]

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969
13,The Dutch House,Historical Fiction,342.3,2019
14,The Nickel Boys,Historical Fiction,299.48,2019

In [21]:
BEGIN TRY

  BEGIN TRANSACTION

    INSERT INTO [BookStore].[Books]
    VALUES  ( 16, 'American Spy', 'Thriller', 'NA', 2019)
    COMMIT TRANSACTION
END TRY

BEGIN CATCH

  SELECT SUSER_SNAME() AS USER_NAME,
         ERROR_NUMBER() AS ERROR_NUMBER,
         ERROR_STATE() AS ERROR_STATE,
         ERROR_SEVERITY() AS ERROR_SEVERITY,
         ERROR_LINE() AS ERROR_LINE,
         ERROR_PROCEDURE() AS ERROR_PROCEDURE,
         ERROR_MESSAGE() AS ERROR_MESSAGE ,
         GETDATE() AS GETDATE;
 
  -- Transaction uncommittable
  IF (XACT_STATE()) = -1
    ROLLBACK TRANSACTION
 
  -- Transaction committable
  IF (XACT_STATE()) = 1
    COMMIT TRANSACTION

END CATCH

USER_NAME,ERROR_NUMBER,ERROR_STATE,ERROR_SEVERITY,ERROR_LINE,ERROR_PROCEDURE,ERROR_MESSAGE,GETDATE
loonyuser,8114,5,16,5,NULL,Error converting data type varchar to float.,2022-11-02 11:48:41.960

In [22]:
SELECT * FROM [BookStore].[Books]

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969
13,The Dutch House,Historical Fiction,342.3,2019
14,The Nickel Boys,Historical Fiction,299.48,2019

In [23]:
BEGIN TRY

  BEGIN TRANSACTION

    INSERT INTO [BookStore].[Books]
    VALUES  ( 16, 'American Spy', 'Thriller', null, 2019)
    COMMIT TRANSACTION
END TRY

BEGIN CATCH

  SELECT SUSER_SNAME() AS USER_NAME,
         ERROR_NUMBER() AS ERROR_NUMBER,
         ERROR_STATE() AS ERROR_STATE,
         ERROR_SEVERITY() AS ERROR_SEVERITY,
         ERROR_LINE() AS ERROR_LINE,
         ERROR_PROCEDURE() AS ERROR_PROCEDURE,
         ERROR_MESSAGE() AS ERROR_MESSAGE ,
         GETDATE() AS GETDATE;
 
  -- Transaction uncommittable
  IF (XACT_STATE()) = -1
    ROLLBACK TRANSACTION
 
  -- Transaction committable
  IF (XACT_STATE()) = 1
    COMMIT TRANSACTION

END CATCH

In [24]:
SELECT * FROM [BookStore].[Books]

id,book_title,genre,price,year
1,The Candy House,Science Fiction,626.05,2022
2,Fiona and Jane,Literary Fiction,451.51,2022
3,To Paradise,Historical Fiction,379.28,2022
4,Book Lovers,Romance Novel,223.25,2022
5,The Living Mountain,Fiction,116.65,2022
6,Unfinished,"Memoir,",206.15,2021
7,Matrix,Historical Fiction,309.3,2021
8,Beautiful Things,Biography,407.55,2021
9,Malibu Rising,Historical Fiction,309.3,2021
10,Gingerbread,Fairy tale,450,2019
11,The Water Dancer,Magical Realism,350.46,2019
12,The Andromeda Strain,Science Fiction,499,1969
13,The Dutch House,Historical Fiction,342.3,2019
14,The Nickel Boys,Historical Fiction,299.48,2019
16,American Spy,Thriller,NULL,2019